@if (spinner$ | async) {
<div class="loading"></div>
}
<div class="nav nav-tabs">
    <button id="home-button" class="nav-link active" routerLink="/home" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        {{ 'HOME' | translate }}
    </button>
    <div class="lang-container">
        <div class="nav-link active">
            <div class="lang-items">
                <img src="assets/icons/globe.svg" alt="lang-icon" class="lang-icon-style" />
                <select class="form-select" [(ngModel)]="selectedLang" (ngModelChange)="switchLang()">
                    <option value="en">English</option>
                    <option value="el">Ελληνικά</option>
                </select>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>