<div class="mb-3">
  <div class="modal-style">
    <table class="table">
      <thead>
        <tr class="cell-header-style">
          <th scope="col">{{ 'NAME' | translate }}</th>
          <th scope="col">{{ 'SURNAME' | translate }}</th>
          <th scope="col">{{ 'GENDER' | translate }}</th>
          <th scope="col">{{ 'BIRTHDATE' | translate }}</th>
          <th scope="col">{{ 'WORK_ADDRESS' | translate }}</th>
          <th scope="col">{{ 'HOME_ADDRESS' | translate }}</th>
        </tr>
      </thead>
      <tbody [formGroup]="userForm">
        <tr>
          @if (editMode) {
          <td><input id="modal-form-input-name" class="custom-cell-style" formControlName="name" /></td>
          <td><input id="modal-form-input-surname" class="custom-cell-style" formControlName="surname" /></td>
          <td>
            <select id="modal-form-input-gender" class="custom-cell-style" formControlName="gender">
              <option value="M">{{ 'FIRST_LETTER_FOR_GENDER_M' | translate }}</option>
              <option value="F">{{ 'FIRST_LETTER_FOR_GENDER_F' | translate }}</option>
            </select>
          </td>
          <td>
            <input id="modal-form-input-birthdate" class="custom-cell-style" formControlName="birthdate" type="date" />
          </td>
          <td><input id="modal-form-input-workAddress" class="custom-cell-style" formControlName="workAddress" /></td>
          <td><input id="modal-form-input-homeAddress" class="custom-cell-style" formControlName="homeAddress" /></td>
          } @else {
          <td id="modal-form-name">{{ user.name }}</td>
          <td id="modal-form-surname">{{ user.surname }}</td>
          <td id="modal-form-gender">{{ ('FIRST_LETTER_FOR_GENDER_'+user.gender) | translate }}</td>
          <td id="modal-form-birthdate">{{ user.birthdate }}</td>
          <td id="modal-form-workAddress">{{ user.workAddress }}</td>
          <td id="modal-form-homeAddress">{{ user.homeAddress }}</td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  <div class="error-messages-container">
    @if(userForm.get('name')?.hasError('required')) {
    <div class="text-danger">* {{ 'FIELD_NAME_REQUIRED' | translate }}</div>
    } @if(userForm.get('surname')?.hasError('required')) {
    <div class="text-danger">* {{ 'FIELD_SURNAME_REQUIRED' | translate }}</div>
    } @if(userForm.get('birthdate')?.hasError('required')) {
    <div class="text-danger">* {{ 'FIELD_BIRTHDATE_REQUIRED' | translate }}</div>
    } @if(userForm.get('name')?.hasError('maxlength')) {
    <div class="text-danger">* {{ 'NAME_MAX_LENGTH' | translate }}</div>
    } @if(userForm.get('surname')?.hasError('maxlength')) {
    <div class="text-danger">* {{ 'SURNAME_MAX_LENGTH' | translate }}</div>
    } @if(userForm.get('workAddress')?.hasError('maxlength')) {
    <div class="text-danger">
      * {{ 'WORK_ADDRESS_MAX_LENGTH' | translate }}
    </div>
    } @if(userForm.get('homeAddress')?.hasError('maxlength')) {
    <div class="text-danger">
      * {{ 'HOME_ADDRESS_MAX_LENGTH' | translate }}
    </div>
    } @if(userForm.get('birthdate')?.hasError('futureDate')) {
    <div class="text-danger">* {{ 'PAST_OR_PRESENT_DATE_REQUIRED' | translate }}</div>
    }
  </div>
  <div class="buttons-container">
    <div>
      <button id="modal-button-edit-save" class="btn btn-secondary" [disabled]="userForm.invalid"
        (click)="updateUser()">
        {{ editMode ? ('SAVE' | translate) : ('EDIT' | translate) }}
      </button>
    </div>
    <div>
      <button id="modal-button-delete" class="btn btn-danger" (click)="deleteUser(user.id)">
        {{ 'DELETE' | translate }}
      </button>
    </div>
  </div>
</div>
